openapi: 3.1.0
info:
  title: LINE WORKS Storage API
  version: '1.0'
servers:
  - url: 'https://storage.worksmobile.com'
    description: StorageURL
paths:
  '/{resoucePath}':
    parameters:
      - schema:
          type: string
        name: resoucePath
        in: path
        required: true
        description: Upload destination path
    post:
      summary: ''
      operationId: upload-resource
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResouceResponse'
      description: Upload resources.
      parameters:
        - schema:
            type: string
            default: oneapp
          in: query
          name: Servicekey
          description: Service key
        - schema:
            type: string
            default: overwrite
          in: query
          name: writeMode
          description: Write mode
        - schema:
            type: string
            default: 'true'
          in: query
          name: isMakethumbnail
          description: Make thumbnail flag
        - $ref: ./talk.yml#/components/parameters/Cookie
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
        description: file binary
components:
  schemas:
    UploadResouceResponse:
      type: object
      x-examples:
        Example 1:
          code: 0
          message: success
          result:
            accessKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXX==
            resourceCid: v2-xxxxxxxxxxx-xxxxxxxxxxx
            resourceSize: 3070
            InjectionUploaded: 'false'
            streamLength: 3070
      properties:
        code:
          type: integer
        message:
          type: string
        result:
          $ref: '#/components/schemas/UploadResourceReponseResult'
      required:
        - code
        - message
        - result
    UploadResourceReponseResult:
      type: object
      x-examples:
        Example 1:
          accessKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXX==
          resourceCid: v2-xxxxxxxxxxx-xxxxxxxxxxx
          resourceSize: 3070
          InjectionUploaded: 'false'
          streamLength: 3070
      properties:
        accessKey:
          type: string
        resourceCid:
          type: string
        resourceSize:
          type: integer
        InjectionUploaded:
          type: string
        streamLength:
          type: integer
      required:
        - accessKey
        - resourceCid
        - resourceSize
        - InjectionUploaded
        - streamLength
  parameters:
    cookie:
      name: cookie
      in: header
      required: false
      schema:
        type: string
      description: Cookie
